## Global Suicide Rates
Hola!, este es un analisis de estadisticas de suicidio desde 1987-2015
Como no tengo imaginacion por el momento, tomare inspiracion del analisis que hace **Liam Morgan** en Kaggle.
El lo hizo todo en R asi que yo solo tomare los puntos que trató en su reporte y los trasladare a este Notebook en Python. Con el proposito de tener un analisis en Español y totalmente libre par acceder a el (en especial quien quiera aprender Ciencias de Datos xD).

Saludos!  **Antonio RG.**

Source:  https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

#### Se hara paso por paso lo que yo considero que debe ser un Pipeline a seguir.

In [1]:
import pandas as pd
import pycountry

In [2]:
df = pd.read_csv("master.csv")
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Funciones para tratar la informacion y ahorrar trabajo.
Nota: Se intentara hacer un ejemplo manual para demostrar el fundamento de las funciones.

In [3]:
def busca_na(column):
    return pd.notnull(df[column]).values.ravel().sum()

### Descripcion basica del DF.

In [4]:
df.shape #12 columnas ~28k registros.

(27820, 12)

In [5]:
df.columns.values #Columnas

array(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype=object)

In [6]:
df.dtypes  #Tipo de cada columna: Se debe revisar para saber si hay que formatear de alguna forma

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [7]:
#Una descripcion basica inicial.
df.describe() #No siempre da una buena idea inicial pero vale la pena revisarla.

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [8]:
#Revisaremos valores faltantes.
pd.isnull(df["year"])

0        False
1        False
2        False
3        False
4        False
         ...
27815    False
27816    False
27817    False
27818    False
27819    False
Name: year, Length: 27820, dtype: bool

In [9]:
pd.notnull(df["year"])

0        True
1        True
2        True
3        True
4        True
         ...
27815    True
27816    True
27817    True
27818    True
27819    True
Name: year, Length: 27820, dtype: bool

In [10]:
busca_na("year")

27820

In [11]:
columnas = df.columns.values.tolist()
columnas

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'suicides/100k pop',
 'country-year',
 'HDI for year',
 ' gdp_for_year ($) ',
 'gdp_per_capita ($)',
 'generation']

In [12]:
for c in columnas:
    print(busca_na(c))
# 'HDI for year',  es la columna con mas perdida de informacion

27820
27820
27820
27820
27820
27820
27820
27820
8364
27820
27820
27820

In [13]:
8364/27820 #Representa el 30% de la informacion. Es demasiada asi que se no se usara la columna completa. Indice de desarrollo humano

0.30064701653486703

In [14]:
df2 = df

In [15]:
df2.drop(columns=['HDI for year'], inplace=True)
df2.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers

In [16]:
df2.shape

(27820, 11)

In [17]:
country = df2["country"].unique().tolist()

In [18]:
len(country) #101 paises

101

### Agregando continentes para futuro analisis.

In [19]:
countries = df2["country"].values.tolist() #Guardo lista de paises completos
len(countries)

27820

In [44]:
for i in range(len(countries)):
    if countries[i] == "Saint Vincent and Grenadines":
        countries[i] = "Saint Vincent and the Grenadines"

In [45]:
countries1 = {}
for country in pycountry.countries:
    countries1[country.name] = country.alpha_2
countries1
#Nota: Republica Checa en alpha2 es Czechia entonces se debe cambiar, Macau es macao. Se debe cambiar de countries
# Republic of Korea es Korea, Republic of, Saint Vincent and Grenadines es Saint Vincent and the Grenadines

{'Aruba': 'AW',
 'Afghanistan': 'AF',
 'Angola': 'AO',
 'Anguilla': 'AI',
 'Åland Islands': 'AX',
 'Albania': 'AL',
 'Andorra': 'AD',
 'United Arab Emirates': 'AE',
 'Argentina': 'AR',
 'Armenia': 'AM',
 'American Samoa': 'AS',
 'Antarctica': 'AQ',
 'French Southern Territories': 'TF',
 'Antigua and Barbuda': 'AG',
 'Australia': 'AU',
 'Austria': 'AT',
 'Azerbaijan': 'AZ',
 'Burundi': 'BI',
 'Belgium': 'BE',
 'Benin': 'BJ',
 'Bonaire, Sint Eustatius and Saba': 'BQ',
 'Burkina Faso': 'BF',
 'Bangladesh': 'BD',
 'Bulgaria': 'BG',
 'Bahrain': 'BH',
 'Bahamas': 'BS',
 'Bosnia and Herzegovina': 'BA',
 'Saint Barthélemy': 'BL',
 'Belarus': 'BY',
 'Belize': 'BZ',
 'Bermuda': 'BM',
 'Bolivia, Plurinational State of': 'BO',
 'Brazil': 'BR',
 'Barbados': 'BB',
 'Brunei Darussalam': 'BN',
 'Bhutan': 'BT',
 'Bouvet Island': 'BV',
 'Botswana': 'BW',
 'Central African Republic': 'CF',
 'Canada': 'CA',
 'Cocos (Keeling) Islands': 'CC',
 'Switzerland': 'CH',
 'Chile': 'CL',
 'China': 'CN',
 "Côte d'Ivoire": 'CI',
 'Cameroon': 'CM',
 'Congo, The Democratic Republic of the': 'CD',
 'Congo': 'CG',
 'Cook Islands': 'CK',
 'Colombia': 'CO',
 'Comoros': 'KM',
 'Cabo Verde': 'CV',
 'Costa Rica': 'CR',
 'Cuba': 'CU',
 'Curaçao': 'CW',
 'Christmas Island': 'CX',
 'Cayman Islands': 'KY',
 'Cyprus': 'CY',
 'Czechia': 'CZ',
 'Germany': 'DE',
 'Djibouti': 'DJ',
 'Dominica': 'DM',
 'Denmark': 'DK',
 'Dominican Republic': 'DO',
 'Algeria': 'DZ',
 'Ecuador': 'EC',
 'Egypt': 'EG',
 'Eritrea': 'ER',
 'Western Sahara': 'EH',
 'Spain': 'ES',
 'Estonia': 'EE',
 'Ethiopia': 'ET',
 'Finland': 'FI',
 'Fiji': 'FJ',
 'Falkland Islands (Malvinas)': 'FK',
 'France': 'FR',
 'Faroe Islands': 'FO',
 'Micronesia, Federated States of': 'FM',
 'Gabon': 'GA',
 'United Kingdom': 'GB',
 'Georgia': 'GE',
 'Guernsey': 'GG',
 'Ghana': 'GH',
 'Gibraltar': 'GI',
 'Guinea': 'GN',
 'Guadeloupe': 'GP',
 'Gambia': 'GM',
 'Guinea-Bissau': 'GW',
 'Equatorial Guinea': 'GQ',
 'Greece': 'GR',
 'Grenada': 'GD',
 'Greenland': 'GL',
 'Guatemala': 'GT',
 'French Guiana': 'GF',
 'Guam': 'GU',
 'Guyana': 'GY',
 'Hong Kong': 'HK',
 'Heard Island and McDonald Islands': 'HM',
 'Honduras': 'HN',
 'Croatia': 'HR',
 'Haiti': 'HT',
 'Hungary': 'HU',
 'Indonesia': 'ID',
 'Isle of Man': 'IM',
 'India': 'IN',
 'British Indian Ocean Territory': 'IO',
 'Ireland': 'IE',
 'Iran, Islamic Republic of': 'IR',
 'Iraq': 'IQ',
 'Iceland': 'IS',
 'Israel': 'IL',
 'Italy': 'IT',
 'Jamaica': 'JM',
 'Jersey': 'JE',
 'Jordan': 'JO',
 'Japan': 'JP',
 'Kazakhstan': 'KZ',
 'Kenya': 'KE',
 'Kyrgyzstan': 'KG',
 'Cambodia': 'KH',
 'Kiribati': 'KI',
 'Saint Kitts and Nevis': 'KN',
 'Korea, Republic of': 'KR',
 'Kuwait': 'KW',
 "Lao People's Democratic Republic": 'LA',
 'Lebanon': 'LB',
 'Liberia': 'LR',
 'Libya': 'LY',
 'Saint Lucia': 'LC',
 'Liechtenstein': 'LI',
 'Sri Lanka': 'LK',
 'Lesotho': 'LS',
 'Lithuania': 'LT',
 'Luxembourg': 'LU',
 'Latvia': 'LV',
 'Macao': 'MO',
 'Saint Martin (French part)': 'MF',
 'Morocco': 'MA',
 'Monaco': 'MC',
 'Moldova, Republic of': 'MD',
 'Madagascar': 'MG',
 'Maldives': 'MV',
 'Mexico': 'MX',
 'Marshall Islands': 'MH',
 'North Macedonia': 'MK',
 'Mali': 'ML',
 'Malta': 'MT',
 'Myanmar': 'MM',
 'Montenegro': 'ME',
 'Mongolia': 'MN',
 'Northern Mariana Islands': 'MP',
 'Mozambique': 'MZ',
 'Mauritania': 'MR',
 'Montserrat': 'MS',
 'Martinique': 'MQ',
 'Mauritius': 'MU',
 'Malawi': 'MW',
 'Malaysia': 'MY',
 'Mayotte': 'YT',
 'Namibia': 'NA',
 'New Caledonia': 'NC',
 'Niger': 'NE',
 'Norfolk Island': 'NF',
 'Nigeria': 'NG',
 'Nicaragua': 'NI',
 'Niue': 'NU',
 'Netherlands': 'NL',
 'Norway': 'NO',
 'Nepal': 'NP',
 'Nauru': 'NR',
 'New Zealand': 'NZ',
 'Oman': 'OM',
 'Pakistan': 'PK',
 'Panama': 'PA',
 'Pitcairn': 'PN',
 'Peru': 'PE',
 'Philippines': 'PH',
 'Palau': 'PW',
 'Papua New Guinea': 'PG',
 'Poland': 'PL',
 'Puerto Rico': 'PR',
 "Korea, Democratic People's Republic of": 'KP',
 'Portugal': 'PT',
 'Paraguay': 'PY',
 'Palestine, State of': 'PS',
 'French Polynesia': 'PF',
 'Qatar': 'QA',
 'Réunion': 'RE',
 'Romania': 'RO',
 'Russian Federation': 'RU',
 'Rwanda': 'RW',
 'Saudi Arabia': 'SA',
 'Sudan': 'SD',
 'Senegal': 'SN',
 'Singapore': 'SG',
 'South Georgia and the South Sandwich Islands': 'GS',
 'Saint Helena, Ascension and Tristan da Cunha': 'SH',
 'Svalbard and Jan Mayen': 'SJ',
 'Solomon Islands': 'SB',
 'Sierra Leone': 'SL',
 'El Salvador': 'SV',
 'San Marino': 'SM',
 'Somalia': 'SO',
 'Saint Pierre and Miquelon': 'PM',
 'Serbia': 'RS',
 'South Sudan': 'SS',
 'Sao Tome and Principe': 'ST',
 'Suriname': 'SR',
 'Slovakia': 'SK',
 'Slovenia': 'SI',
 'Sweden': 'SE',
 'Eswatini': 'SZ',
 'Sint Maarten (Dutch part)': 'SX',
 'Seychelles': 'SC',
 'Syrian Arab Republic': 'SY',
 'Turks and Caicos Islands': 'TC',
 'Chad': 'TD',
 'Togo': 'TG',
 'Thailand': 'TH',
 'Tajikistan': 'TJ',
 'Tokelau': 'TK',
 'Turkmenistan': 'TM',
 'Timor-Leste': 'TL',
 'Tonga': 'TO',
 'Trinidad and Tobago': 'TT',
 'Tunisia': 'TN',
 'Turkey': 'TR',
 'Tuvalu': 'TV',
 'Taiwan, Province of China': 'TW',
 'Tanzania, United Republic of': 'TZ',
 'Uganda': 'UG',
 'Ukraine': 'UA',
 'United States Minor Outlying Islands': 'UM',
 'Uruguay': 'UY',
 'United States': 'US',
 'Uzbekistan': 'UZ',
 'Holy See (Vatican City State)': 'VA',
 'Saint Vincent and the Grenadines': 'VC',
 'Venezuela, Bolivarian Republic of': 'VE',
 'Virgin Islands, British': 'VG',
 'Virgin Islands, U.S.': 'VI',
 'Viet Nam': 'VN',
 'Vanuatu': 'VU',
 'Wallis and Futuna': 'WF',
 'Samoa': 'WS',
 'Yemen': 'YE',
 'South Africa': 'ZA',
 'Zambia': 'ZM',
 'Zimbabwe': 'ZW'}

In [46]:
codes = [countries1.get(country, 'Unknown code') for country in countries]

In [47]:
countries[21632]

'Saint Vincent and the Grenadines'

In [49]:
import pycountry_convert as pc
continent = [pc.country_alpha2_to_continent_code(code) for code in codes]

#AF - Africa; AS - Asia; EU - Europe; NA - North America; SA - South America; OC - Oceania; AN - Antarctica.

In [52]:
#Agregar lista de continentes al DF
df2["continent"] = continent

In [53]:
df2 #Ya hay una columna de continente

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,continent
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,EU
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent,EU
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X,EU
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation,EU
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers,EU
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,"63,067,077,179",2309,Generation X,AS
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,"63,067,077,179",2309,Silent,AS
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,"63,067,077,179",2309,Generation Z,AS
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,"63,067,077,179",2309,Generation Z,AS
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,"63,067,077,179",2309,Boomers,AS

### Continuando con el analisis

In [74]:
#Ya se trato la informacion con NaN faltante, pero ahora hay que revisar como impacta la info al analisis.
#En caso de no tener relevancia se puede eliminar.
#Una manera es revisar cuanta informacion por año aporta cada pais.
df2["year"].unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       1985, 1986, 1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016])