## Global Suicide Rates
Hola!, este es un analisis de estadisticas de suicidio desde 1987-2015
Como no tengo imaginacion por el momento, tomare inspiracion del analisis que hace **Liam Morgan** en Kaggle.
El lo hizo todo en R asi que yo solo tomare los puntos que trató en su reporte y los trasladare a este Notebook en Python. Con el proposito de tener un analisis en Español y totalmente libre par acceder a el (en especial quien quiera aprender Ciencias de Datos xD).

Saludos!  **Antonio RG.**

Source:  https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

#### Se hara paso por paso lo que yo considero que debe ser un Pipeline a seguir.

In [35]:
import pandas as pd
from countrycode import countrycode

In [2]:
df = pd.read_csv("master.csv")
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Funciones para tratar la informacion y ahorrar trabajo.
Nota: Se intentara hacer un ejemplo manual para demostrar el fundamento de las funciones.

In [3]:
def busca_na(column):
    return pd.notnull(df[column]).values.ravel().sum()

### Descripcion basica del DF.

In [4]:
df.shape #12 columnas ~28k registros.

(27820, 12)

In [5]:
df.columns.values #Columnas

array(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype=object)

In [6]:
df.dtypes  #Tipo de cada columna: Se debe revisar para saber si hay que formatear de alguna forma

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [7]:
#Una descripcion basica inicial.
df.describe() #No siempre da una buena idea inicial pero vale la pena revisarla.

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [8]:
#Revisaremos valores faltantes.
pd.isnull(df["year"])

0        False
1        False
2        False
3        False
4        False
         ...
27815    False
27816    False
27817    False
27818    False
27819    False
Name: year, Length: 27820, dtype: bool

In [9]:
pd.notnull(df["year"])

0        True
1        True
2        True
3        True
4        True
         ...
27815    True
27816    True
27817    True
27818    True
27819    True
Name: year, Length: 27820, dtype: bool

In [10]:
busca_na("year")

27820

In [11]:
columnas = df.columns.values.tolist()
columnas

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'suicides/100k pop',
 'country-year',
 'HDI for year',
 ' gdp_for_year ($) ',
 'gdp_per_capita ($)',
 'generation']

In [12]:
for c in columnas:
    print(busca_na(c))
# 'HDI for year',  es la columna con mas perdida de informacion

27820
27820
27820
27820
27820
27820
27820
27820
8364
27820
27820
27820

In [13]:
8364/27820 #Representa el 30% de la informacion. Es demasiada asi que se no se usara la columna completa. Indice de desarrollo humano

0.30064701653486703

In [31]:
df2 = df

In [19]:
df2.drop(columns=['HDI for year'], inplace=True)
df2.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers

In [20]:
df2.shape

(27820, 11)

In [25]:
country = df2["country"].unique().tolist()

In [24]:
len(country) #101 paises

101

In [33]:
countries = df2["country"].values.tolist()