# Relacion riqueza suicidios.
## Entre mas rico el pais disminuyen los suicidios?
* **lmorgan95** señala que si bien es cierto hay una clara tendencia entre el paso de los años con la riqueza (GDP) depende del pais, me atreveria a señalar que depende de mas bien el enfoque de politicas publicas de cada pais

* Todo el analisis anterior ha señalado que depende el pais, algunos tienen tendencia a la alza y seria incorrecto señalar que sea una relacion directa, ej EUA esta aumentando su tendencia y es el pais mas rico del mundo sin embargo los paises del norte de europa igual ricos y con un nivel de vida superior a estados unidos tienen una disminucion notoria.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("masterClean.csv")
df.head(1)

,Unnamed: 0,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,continent
0,0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,EU

In [4]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df["continent"] = df["continent"].fillna("NA")
df.head(1)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,continent
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,EU

In [5]:
df.drop(df[df["country"] == "Macau"].index, inplace=True)

In [6]:
df_GDP = df.groupby(["country","year"])

In [8]:
'''for names, groups in df_GDP:
    print(names)
    print(groups)'''

'for names, groups in df_GDP:\n    print(names)\n    print(groups)'

In [29]:
#Filtrar
gdp_per_capita_year = df_GDP["gdp_per_capita ($)"].mean()
len(gdp_per_capita_year)

2306

In [25]:
years = list(df_GDP["year"])

In [31]:
years

[(('Albania', 1987),
  0     1987
  1     1987
  2     1987
  3     1987
  4     1987
  5     1987
  6     1987
  7     1987
  8     1987
  9     1987
  10    1987
  11    1987
  Name: year, dtype: int64),
 (('Albania', 1988),
  12    1988
  13    1988
  14    1988
  15    1988
  16    1988
  17    1988
  18    1988
  19    1988
  20    1988
  21    1988
  22    1988
  23    1988
  Name: year, dtype: int64),
 (('Albania', 1989),
  24    1989
  25    1989
  26    1989
  27    1989
  28    1989
  29    1989
  30    1989
  31    1989
  32    1989
  33    1989
  34    1989
  35    1989
  Name: year, dtype: int64),
 (('Albania', 1992),
  36    1992
  37    1992
  38    1992
  39    1992
  40    1992
  41    1992
  42    1992
  43    1992
  44    1992
  45    1992
  46    1992
  47    1992
  Name: year, dtype: int64),
 (('Albania', 1993),
  48    1993
  49    1993
  50    1993
  51    1993
  52    1993
  53    1993
  54    1993
  55    1993
  56    1993
  57    1993
  58    1993
  59    1993
  Name: year, dtype: int64),
 (('Albania', 1994),
  60    1994
  61    1994
  62    1994
  63    1994
  64    1994
  65    1994
  66    1994
  67    1994
  68    1994
  69    1994
  70    1994
  71    1994
  Name: year, dtype: int64),
 (('Albania', 1995),
  72    1995
  73    1995
  74    1995
  75    1995
  76    1995
  77    1995
  78    1995
  79    1995
  80    1995
  81    1995
  82    1995
  83    1995
  Name: year, dtype: int64),
 (('Albania', 1996),
  84    1996
  85    1996
  86    1996
  87    1996
  88    1996
  89    1996
  90    1996
  91    1996
  92    1996
  93    1996
  94    1996
  95    1996
  Name: year, dtype: int64),
 (('Albania', 1997),
  96     1997
  97     1997
  98     1997
  99     1997
  100    1997
  101    1997
  102    1997
  103    1997
  104    1997
  105    1997
  106    1997
  107    1997
  Name: year, dtype: int64),
 (('Albania', 1998),
  108    1998
  109    1998
  110    1998
  111    1998
  112    1998
  113    1998
  114    1998
  115    1998
  116    1998
  117    1998
  118    1998
  119    1998
  Name: year, dtype: int64),
 (('Albania', 1999),
  120    1999
  121    1999
  122    1999
  123    1999
  124    1999
  125    1999
  126    1999
  127    1999
  128    1999
  129    1999
  130    1999
  131    1999
  Name: year, dtype: int64),
 (('Albania', 2000),
  132    2000
  133    2000
  134    2000
  135    2000
  136    2000
  137    2000
  138    2000
  139    2000
  140    2000
  141    2000
  142    2000
  143    2000
  Name: year, dtype: int64),
 (('Albania', 2001),
  144    2001
  145    2001
  146    2001
  147    2001
  148    2001
  149    2001
  150    2001
  151    2001
  152    2001
  153    2001
  154    2001
  155    2001
  Name: year, dtype: int64),
 (('Albania', 2002),
  156    2002
  157    2002
  158    2002
  159    2002
  160    2002
  161    2002
  162    2002
  163    2002
  164    2002
  165    2002
  166    2002
  167    2002
  Name: year, dtype: int64),
 (('Albania', 2003),
  168    2003
  169    2003
  170    2003
  171    2003
  172    2003
  173    2003
  174    2003
  175    2003
  176    2003
  177    2003
  178    2003
  179    2003
  Name: year, dtype: int64),
 (('Albania', 2004),
  180    2004
  181    2004
  182    2004
  183    2004
  184    2004
  185    2004
  186    2004
  187    2004
  188    2004
  189    2004
  190    2004
  191    2004
  Name: year, dtype: int64),
 (('Albania', 2005),
  192    2005
  193    2005
  194    2005
  195    2005
  196    2005
  197    2005
  198    2005
  199    2005
  200    2005
  201    2005
  202    2005
  203    2005
  Name: year, dtype: int64),
 (('Albania', 2006),
  204    2006
  205    2006
  206    2006
  207    2006
  208    2006
  209    2006
  210    2006
  211    2006
  212    2006
  213    2006
  214    2006
  215    2006
  Name: year, dtype: int64),
 (('Albania', 2007),
  216    2007
  217    2007
  218    2007
  219    2007
  220    2007
  221    2007
  222    2007
  223    2007
  224    2007
  225    2007
  226    2007
  227    2007
  Name: year, dtype: int64),
 (('Albania', 2008),
  228    2008
  229    2008
  230    2008
  231    2008
  232    2008
  233    2008
  234    2008
  235    2008
  236    2008
  237    2008
  238    2008
  239    2008
  Name: year, dtype: int64),
 (('Albania', 2009),
  240    2009
  241    2009
  242    2009
  243    2009
  244    2009
  245    2009
  246    2009
  247    2009
  248    2009
  249    2009
  250    2009
  251    2009
  Name: year, dtype: int64),
 (('Albania', 2010),
  252    2010
  253    2010
  254    2010
  255    2010
  256    2010
  257    2010
  258    2010
  259    2010
  260    2010
  261    2010
  262    2010
  263    2010
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1985),
  264    1985
  265    1985
  266    1985
  267    1985
  268    1985
  269    1985
  270    1985
  271    1985
  272    1985
  273    1985
  274    1985
  275    1985
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1986),
  276    1986
  277    1986
  278    1986
  279    1986
  280    1986
  281    1986
  282    1986
  283    1986
  284    1986
  285    1986
  286    1986
  287    1986
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1987),
  288    1987
  289    1987
  290    1987
  291    1987
  292    1987
  293    1987
  294    1987
  295    1987
  296    1987
  297    1987
  298    1987
  299    1987
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1988),
  300    1988
  301    1988
  302    1988
  303    1988
  304    1988
  305    1988
  306    1988
  307    1988
  308    1988
  309    1988
  310    1988
  311    1988
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1989),
  312    1989
  313    1989
  314    1989
  315    1989
  316    1989
  317    1989
  318    1989
  319    1989
  320    1989
  321    1989
  322    1989
  323    1989
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1990),
  324    1990
  325    1990
  326    1990
  327    1990
  328    1990
  329    1990
  330    1990
  331    1990
  332    1990
  333    1990
  334    1990
  335    1990
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1991),
  336    1991
  337    1991
  338    1991
  339    1991
  340    1991
  341    1991
  342    1991
  343    1991
  344    1991
  345    1991
  346    1991
  347    1991
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1992),
  348    1992
  349    1992
  350    1992
  351    1992
  352    1992
  353    1992
  354    1992
  355    1992
  356    1992
  357    1992
  358    1992
  359    1992
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1993),
  360    1993
  361    1993
  362    1993
  363    1993
  364    1993
  365    1993
  366    1993
  367    1993
  368    1993
  369    1993
  370    1993
  371    1993
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1994),
  372    1994
  373    1994
  374    1994
  375    1994
  376    1994
  377    1994
  378    1994
  379    1994
  380    1994
  381    1994
  382    1994
  383    1994
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1995),
  384    1995
  385    1995
  386    1995
  387    1995
  388    1995
  389    1995
  390    1995
  391    1995
  392    1995
  393    1995
  394    1995
  395    1995
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1998),
  396    1998
  397    1998
  398    1998
  399    1998
  400    1998
  401    1998
  402    1998
  403    1998
  404    1998
  405    1998
  406    1998
  407    1998
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 1999),
  408    1999
  409    1999
  410    1999
  411    1999
  412    1999
  413    1999
  414    1999
  415    1999
  416    1999
  417    1999
  418    1999
  419    1999
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2000),
  420    2000
  421    2000
  422    2000
  423    2000
  424    2000
  425    2000
  426    2000
  427    2000
  428    2000
  429    2000
  430    2000
  431    2000
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2001),
  432    2001
  433    2001
  434    2001
  435    2001
  436    2001
  437    2001
  438    2001
  439    2001
  440    2001
  441    2001
  442    2001
  443    2001
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2002),
  444    2002
  445    2002
  446    2002
  447    2002
  448    2002
  449    2002
  450    2002
  451    2002
  452    2002
  453    2002
  454    2002
  455    2002
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2003),
  456    2003
  457    2003
  458    2003
  459    2003
  460    2003
  461    2003
  462    2003
  463    2003
  464    2003
  465    2003
  466    2003
  467    2003
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2004),
  468    2004
  469    2004
  470    2004
  471    2004
  472    2004
  473    2004
  474    2004
  475    2004
  476    2004
  477    2004
  478    2004
  479    2004
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2005),
  480    2005
  481    2005
  482    2005
  483    2005
  484    2005
  485    2005
  486    2005
  487    2005
  488    2005
  489    2005
  490    2005
  491    2005
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2006),
  492    2006
  493    2006
  494    2006
  495    2006
  496    2006
  497    2006
  498    2006
  499    2006
  500    2006
  501    2006
  502    2006
  503    2006
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2007),
  504    2007
  505    2007
  506    2007
  507    2007
  508    2007
  509    2007
  510    2007
  511    2007
  512    2007
  513    2007
  514    2007
  515    2007
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2008),
  516    2008
  517    2008
  518    2008
  519    2008
  520    2008
  521    2008
  522    2008
  523    2008
  524    2008
  525    2008
  526    2008
  527    2008
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2009),
  528    2009
  529    2009
  530    2009
  531    2009
  532    2009
  533    2009
  534    2009
  535    2009
  536    2009
  537    2009
  538    2009
  539    2009
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2012),
  540    2012
  541    2012
  542    2012
  543    2012
  544    2012
  545    2012
  546    2012
  547    2012
  548    2012
  549    2012
  550    2012
  551    2012
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2013),
  552    2013
  553    2013
  554    2013
  555    2013
  556    2013
  557    2013
  558    2013
  559    2013
  560    2013
  561    2013
  562    2013
  563    2013
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2014),
  564    2014
  565    2014
  566    2014
  567    2014
  568    2014
  569    2014
  570    2014
  571    2014
  572    2014
  573    2014
  574    2014
  575    2014
  Name: year, dtype: int64),
 (('Antigua and Barbuda', 2015),
  576    2015
  577    2015
  578    2015
  579    2015
  580    2015
  581    2015
  582    2015
  583    2015
  584    2015
  585    2015
  586    2015
  587    2015
  Name: year, dtype: int64),
 (('Argentina', 1985),
  588    1985
  589    1985
  590    1985
  591    1985
  592    1985
  593    1985
  594    1985
  595    1985
  596    1985
  597    1985
  598    1985
  599    1985
  Name: year, dtype: int64),
 (('Argentina', 1986),
  600    1986
  601    1986
  602    1986
  603    1986
  604    1986
  605    1986
  606    1986
  607    1986
  608    1986
  609    1986
  610    1986
  611    1986
  Name: year, dtype: int64),
 (('Argentina', 1987),
  612    1987
  613    1987
  614    1987
  615    1987
  616    1987
  617    1987
  618    1987
  619    1987
  620    1987
  621    1987
  622    1987
  623    1987
  Name: year, dtype: int64),
 (('Argentina', 1988),
  624    1988
  625    1988
  626    1988
  627    1988
  628    1988
  629    1988
  630    1988
  631    1988
  632    1988
  633    1988
  634    1988
  635    1988
  Name: year, dtype: int64),
 (('Argentina', 1989),
  636    1989
  637    1989
  638    1989
  639    1989
  640    1989
  641    1989
  642    1989
  643    1989
  644    1989
  645    1989
  646    1989
  647    1989
  Name: year, dtype: int64),
 (('Argentina', 1990),
  648    1990
  649    1990
  650    1990
  651    1990
  652    1990
  653    1990
  654    1990
  655    1990
  656    1990
  657    1990
  658    1990
  659    1990
  Name: year, dtype: int64),
 (('Argentina', 1991),
  660    1991
  661    1991
  662    1991
  663    1991
  664    1991
  665    1991
  666    1991
  667    1991
  668    1991
  669    1991
  670    1991
  671    1991
  Name: year, dtype: int64),
 (('Argentina', 1992),
  672    1992
  673    1992
  674    1992
  675    1992
  676    1992
  677    1992
  678    1992
  679    1992
  680    1992
  681    1992
  682    1992
  683    1992
  Name: year, dtype: int64),
 (('Argentina', 1993),
  684    1993
  685    1993
  686    1993
  687    1993
  688    1993
  689    1993
  690    1993
  691    1993
  692    1993
  693    1993
  694    1993
  695    1993
  Name: year, dtype: int64),
 (('Argentina', 1994),
  696    1994
  697    1994
  698    1994
  699    1994
  700    1994
  701    1994
  702    1994
  703    1994
  704    1994
  705    1994
  706    1994
  707    1994
  Name: year, dtype: int64),
 (('Argentina', 1995),
  708    1995
  709    1995
  710    1995
  711    1995
  712    1995
  713    1995
  714    1995
  715    1995
  716    1995
  717    1995
  718    1995
  719    1995
  Name: year, dtype: int64),
 (('Argentina', 1996),
  720    1996
  721    1996
  722    1996
  723    1996
  724    1996
  725    1996
  726    1996
  727    1996
  728    1996
  729    1996
  730    1996
  731    1996
  Name: year, dtype: int64),
 (('Argentina', 1997),
  732    1997
  733    1997
  734    1997
  735    1997
  736    1997
  737    1997
  738    1997
  739    1997
  740    1997
  741    1997
  742    1997
  743    1997
  Name: year, dtype: int64),
 (('Argentina', 1998),
  744    1998
  745    1998
  746    1998
  747    1998
  748    1998
  749    1998
  750    1998
  751    1998
  752    1998
  753    1998
  754    1998
  755    1998
  Name: year, dtype: int64),
 (('Argentina', 1999),
  756    1999
  757    1999
  758    1999
  759    1999
  760    1999
  761    1999
  762    1999
  763    1999
  764    1999
  765    1999
  766    1999
  767    1999
  Name: year, dtype: int64),
 (('Argentina', 2000),
  768    2000
  769    2000
  770    2000
  771    2000
  772    2000
  773    2000
  774    2000
  775    2000
  776    2000
  777    2000
  778    2000
  779    2000
  Name: year, dtype: int64),
 (('Argentina', 2001),
  780    2001
  781    2001
  782    2001
  783    2001
  784    2001
  785    2001
  786    2001
  787    2001
  788    2001
  789    2001
  790    2001
  791    2001
  Name: year, dtype: int64),
 (('Argentina', 2002),
  792    2002
  793    2002
  794    2002
  795    2002
  796    2002
  797    2002
  798    2002
  799    2002
  800    2002
  801    2002
  802    2002
  803    2002
  Name: year, dtype: int64),
 (('Argentina', 2003),
  804    2003
  805    2003
  806    2003
  807    2003
  808    2003
  809    2003
  810    2003
  811    2003
  812    2003
  813    2003
  814    2003
  815    2003
  Name: year, dtype: int64),
 (('Argentina', 2004),
  816    2004
  817    2004
  818    2004
  819    2004
  820    2004
  821    2004
  822    2004
  823    2004
  824    2004
  825    2004
  826    2004
  827    2004
  Name: year, dtype: int64),
 (('Argentina', 2005),
  828    2005
  829    2005
  830    2005
  831    2005
  832    2005
  833    2005
  834    2005
  835    2005
  836    2005
  837    2005
  838    2005
  839    2005
  Name: year, dtype: int64),
 (('Argentina', 2006),
  840    2006
  841    2006
  842    2006
  843    2006
  844    2006
  845    2006
  846    2006
  847    2006
  848    2006
  849    2006
  850    2006
  851    2006
  Name: year, dtype: int64),
 (('Argentina', 2007),
  852    2007
  853    2007
  854    2007
  855    2007
  856    2007
  857    2007
  858    2007
  859    2007
  860    2007
  861    2007
  862    2007
  863    2007
  Name: year, dtype: int64),
 (('Argentina', 2008),
  864    2008
  865    2008
  866    2008
  867    2008
  868    2008
  869    2008
  870    2008
  871    2008
  872    2008
  873    2008
  874    2008
  875    2008
  Name: year, dtype: int64),
 (('Argentina', 2009),
  876    2009
  877    2009
  878    2009
  879    2009
  880    2009
  881    2009
  882    2009
  883    2009
  884    2009
  885    2009
  886    2009
  887    2009
  Name: year, dtype: int64),
 (('Argentina', 2010),
  888    2010
  889    2010
  890    2010
  891    2010
  892    2010
  893    2010
  894    2010
  895    2010
  896    2010
  897    2010
  898    2010
  899    2010
  Name: year, dtype: int64),
 (('Argentina', 2011),
  900    2011
  901    2011
  902    2011
  903    2011
  904    2011
  905    2011
  906    2011
  907    2011
  908    2011
  909    2011
  910    2011
  911    2011
  Name: year, dtype: int64),
 (('Argentina', 2012),
  912    2012
  913    2012
  914    2012
  915    2012
  916    2012
  917    2012
  918    2012
  919    2012
  920    2012
  921    2012
  922    2012
  923    2012
  Name: year, dtype: int64),
 (('Argentina', 2013),
  924    2013
  925    2013
  926    2013
  927    2013
  928    2013
  929    2013
  930    2013
  931    2013
  932    2013
  933    2013
  934    2013
  935    2013
  Name: year, dtype: int64),
 (('Argentina', 2014),
  936    2014
  937    2014
  938    2014
  939    2014
  940    2014
  941    2014
  942    2014
  943    2014
  944    2014
  945    2014
  946    2014
  947    2014
  Name: year, dtype: int64),
 (('Argentina', 2015),
  948    2015
  949    2015
  950    2015
  951    2015
  952    2015
  953    2015
  954    2015
  955    2015
  956    2015
  957    2015
  958    2015
  959    2015
  Name: year, dtype: int64),
 (('Armenia', 1990),
  960    1990
  961    1990
  962    1990
  963    1990
  964    1990
  965    1990
  966    1990
  967    1990
  968    1990
  969    1990
  970    1990
  971    1990
  Name: year, dtype: int64),
 (('Armenia', 1991),
  972    1991
  973    1991
  974    1991
  975    1991
  976    1991
  977    1991
  978    1991
  979    1991
  980    1991
  981    1991
  982    1991
  983    1991
  Name: year, dtype: int64),
 (('Armenia', 1992),
  984    1992
  985    1992
  986    1992
  987    1992
  988    1992
  989    1992
  990    1992
  991    1992
  992    1992
  993    1992
  994    1992
  995    1992
  Name: year, dtype: int64),
 (('Armenia', 1993),
  996     1993
  997     1993
  998     1993
  999     1993
  1000    1993
  1001    1993
  1002    1993
  1003    1993
  1004    1993
  1005    1993
  1006    1993
  1007    1993
  Name: year, dtype: int64),
 (('Armenia', 1994),
  1008    1994
  1009    1994
  1010    1994
  1011    1994
  1012    1994
  1013    1994
  1014    1994
  1015    1994
  1016    1994
  1017    1994
  1018    1994
  1019    1994
  Name: year, dtype: int64),
 (('Armenia', 1995),
  1020    1995
  1021    1995
  1022    1995
  1023    1995
  1024    1995
  1025    1995
  1026    1995
  1027    1995
  1028    1995
  1029    1995
  1030    1995
  1031    1995
  Name: year, dtype: int64),
 (('Armenia', 1996),
  1032    1996
  1033    1996
  1034    1996
  1035    1996
  1036    1996
  1037    1996
  1038    1996
  1039    1996
  1040    1996
  1041    1996
  1042    1996
  1043    1996
  Name: year, dtype: int64),
 (('Armenia', 1997),
  1044    1997
  1045    1997
  1046    1997
  1047    1997
  1048    1997
  1049    1997
  1050    1997
  1051    1997
  1052    1997
  1053    1997
  1054    1997
  1055    1997
  Name: year, dtype: int64),
 (('Armenia', 1998),
  1056    1998
  1057    1998
  1058    1998
  1059    1998
  1060    1998
  1061    1998
  1062    1998
  1063    1998
  1064    1998
  1065    1998
  1066    1998
  1067    1998
  Name: year, dtype: int64),
 (('Armenia', 1999),
  1068    1999
  1069    1999
  1070    1999
  1071    1999
  1072    1999
  1073    1999
  1074    1999
  1075    1999
  1076    1999
  1077    1999
  1078    1999
  1079    1999
  Name: year, dtype: int64),